@tailwind base;
@tailwind components;

@font-face {
    font-family: 'iranYekan';
    src: url(../../assets/fonts/Yekan-Font-3.0/Yekan.ttf) format('truetype');
}

@font-face {
    font-family: 'iranSans';
    src: url(../../assets/fonts/iran-sans-master/fonts/IranianSansRegular.ttf) format('truetype');
}

@font-face {
    font-family: 'pfont';
    src: url(../../assets/fonts/Pfont/Pfont-Regular.woff) format('woff');
}

@font-face {
    font-family: 'anjoman';
    src: url(../../assets/fonts/anjoman/Anjoman-Regular.woff2) format('woff2');
}

@layer components {
    .active {
        @apply bg-sky-200 dark:bg-slate-700 rounded;
    }

    .active-footer {
        @apply bg-sky-200 dark:bg-slate-800 border-b-4 border-b-sky-900 dark:border-b-sky-100 !important;
    }
    #sticky-header {
        transition: transform 0.3s ease-in-out;
    }

    #page-aside {
        transition: height 0.3s ease-in-out;
    }
    .c-hover_change > ul {
        transition: all 0.2s ease-in-out;
    }
}

@tailwind utilities;
